/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */

.background {
  display: flex;
  min-height: 100vh;
  background-color: #46424D
}

.new-activity {
  display: flex;
  position: absolute;
  height: 649px;
  width: 1000px;
  top: 65px;
  background-color: #2B2733;
}

.select-a-category {
  display: flex;
  position: absolute;
  flex-direction: column;
  height: 544px;
  width: 940px;
  top: 65px;
  left: 30px;
  border-radius: 5px;
  background-color: #46424D;
}

.image-study {
  max-height: 25px;
  max-width: 25px;
}

.image-meditate {
  max-height: 25px;
  max-width: 25px;
}

.image-exercise {
  max-height: 25px;
  max-width: 25px;
}

.text-top-buttons {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  font-size: 15;
  color: #FFF
}

.category-buttons {
  display: flex;
  position: absolute;
  flex-direction: row;
  margin-left: 157px;
  margin-top: 115px;
}

.space-between {
  width: 125px;
}

.btn-activities {
  height: 70px;
  width: 125px;
  border-color: #FFF;
  border-style: solid;
  border-radius: 5px;
  background-color: #46424D;
}

.btn-start-activity

.input-activity

.input-minutes

.input-seconds

.past-activities

.logged-activities

.no-logged-activities
